# Git and VSCode
.git/
.gitignore
.vscode/

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# MLflow and data artifacts
mlruns/
mlflow.db
data/
logs/

# Local files
README.md
summary.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# MLflow artifacts
mlruns/
mlflow.db

# Data and logs
data/
logs/
*.log

# Docker
docker-compose.yml